In [2]:
import sys
import os

sys.path.append(os.path.abspath('..'))
from src.data_formatting.formatting import BatteryStorageFormatter, BuildingLoadFormatter, PVGeneratorFormatter, combine_power
from src.config.config import DATASETS
from src.models.building_load import BuildingLoad

In [2]:
# - KW = discharing, + KW = charging
battery_formatted = BatteryStorageFormatter("Trade Street Off-campus Microgrid/TradeStreetBattery.csv", rating_kw=1800)
df_batt = battery_formatted.run(save=False) 
df_batt.head(10)

             DateTime  RealPower
0 2016-10-25 00:00:00   -0.99425
1 2016-10-25 01:00:00   -0.99300
2 2016-10-25 02:00:00   -0.99225
3 2016-10-25 03:00:00   -0.98975
4 2016-10-25 04:00:00   -0.98625
5 2016-10-25 05:00:00   -0.98975
6 2016-10-25 06:00:00   -0.98925
7 2016-10-25 07:00:00   -0.99050
8 2016-10-25 08:00:00   -0.99125
9 2016-10-25 09:00:00   -0.99350

In [3]:
load_formatted = BuildingLoadFormatter("BuildingLoad/CenterHall.csv", cal_real=0.5, cal_reactive=1.0)
df_load = load_formatted.run(save=False) 
df_load.head(10)

             DateTime  RealPower  ReactivePower
0 2016-01-07 10:00:00  170.72100       63.39300
1 2016-01-07 11:00:00  179.25250       70.17600
2 2016-01-07 12:00:00  176.08675       73.46950
3 2016-01-07 13:00:00  169.86050       71.83700
4 2016-01-07 14:00:00  168.22975       72.02725
5 2016-01-07 15:00:00  168.18425       73.17325
6 2016-01-07 16:00:00  161.70300       74.52825
7 2016-01-07 17:00:00  150.79675       66.67450
8 2016-01-07 18:00:00  143.37800       60.92700
9 2016-01-07 19:00:00  141.98475       61.62450

In [4]:
pv_formatted = PVGeneratorFormatter("PVGenerator/BioEngineeringPV.csv")
df_pv = pv_formatted.run(save=False) 
df_pv.head(10)

             DateTime  RealPower
0 2015-01-21 08:00:00    5.27300
1 2015-01-21 09:00:00    8.90650
2 2015-01-21 10:00:00   17.85175
3 2015-01-21 11:00:00   21.16275
4 2015-01-21 12:00:00   21.85575
5 2015-01-21 13:00:00   20.24950
6 2015-01-21 14:00:00   17.18275
7 2015-01-21 15:00:00    9.29275
8 2015-01-21 16:00:00    2.92975
9 2015-01-21 17:00:00    0.25275

In [ ]:
asset = "HopkinsBuilding"
data_set = DATASETS[asset]

if data_set["type"] == "load":
    formatter = BuildingLoadFormatter(
        data_set["filename"],
        cal_real=data_set["cal_real"],
        cal_reactive=data_set["cal_reactive"],
    )
    df = formatter.run(save=False)

elif data_set["type"] == "pv":
    formatter = PVGeneratorFormatter(data_set["filename"])
    df = formatter.run(save=False)

elif data_set["type"] == "battery":
    formatter = BatteryStorageFormatter(
        data_set["filename"],
        rating_kw=data_set["rating_kw"]
    )
    df = formatter.run(save=False)

elif data_set["type"] == "loadwev":
    formatter = BuildingLoadFormatter(
        data_set["filename"],
        cal_real=data_set["cal_real"],
        cal_reactive=data_set["cal_reactive"],
    )
    df = formatter.run(save=False)
    ev_asset = asset.replace("Building", "EV")
    ev_data_set = DATASETS[ev_asset]
    ev_formatter = BuildingLoadFormatter(
        ev_data_set["filename"],
        cal_real=ev_data_set["cal_real"],
        cal_reactive=ev_data_set["cal_reactive"],
    )
    ev_df = ev_formatter.run(save=False)

    df = combine_power(df, ev_df)


df.head()

             DateTime  RealPower
0 2019-04-01 00:00:00     50.676
1 2019-04-01 00:15:00     51.186
2 2019-04-01 00:30:00     51.873
3 2019-04-01 00:45:00     50.980
4 2019-04-01 01:00:00     51.912

In [ ]:
#create a BuildingLoad instance and acess the df attribute
centerHall = BuildingLoad(name="CenterHall", cal_real=0.5, cal_reactive=1.0)
centerHall.df.head()

             DateTime  RealPower  ReactivePower
0 2016-01-07 10:00:00  170.72100       63.39300
1 2016-01-07 11:00:00  179.25250       70.17600
2 2016-01-07 12:00:00  176.08675       73.46950
3 2016-01-07 13:00:00  169.86050       71.83700
4 2016-01-07 14:00:00  168.22975       72.02725