In [2]:
import sys
import os

sys.path.append(os.path.abspath('../src'))
from data_processing.formatting import BatteryStorageFormatter, BuildingLoadFormatter, PVGeneratorFormatter

In [3]:
# - KW = discharing, + KW = charging
battery_formatted = BatteryStorageFormatter("Trade Street Off-campus Microgrid/TradeStreetBattery.csv", rating_kw=1800)
df_batt = battery_formatted.run(save=False) 
df_batt.head(10)

             DateTime  RealPower
0 2016-10-25 00:00:00     -1.002
1 2016-10-25 00:15:00     -0.994
2 2016-10-25 00:30:00     -0.990
3 2016-10-25 00:45:00     -0.991
4 2016-10-25 01:00:00     -0.993
5 2016-10-25 01:15:00     -0.994
6 2016-10-25 01:30:00     -0.994
7 2016-10-25 01:45:00     -0.991
8 2016-10-25 02:00:00     -0.992
9 2016-10-25 02:15:00     -0.992

In [4]:
load_formatted = BuildingLoadFormatter("BuildingLoad/CenterHall.csv", cal_real=0.5, cal_reactive=1.0)
df_load = load_formatted.run(save=False) 
df_load.head(10)

             DateTime  RealPower  ReactivePower
0 2016-01-07 10:45:00    170.721         63.393
1 2016-01-07 11:00:00    182.143         71.259
2 2016-01-07 11:15:00    182.652         70.958
3 2016-01-07 11:30:00    177.763         68.534
4 2016-01-07 11:45:00    174.452         69.953
5 2016-01-07 12:00:00    173.569         70.313
6 2016-01-07 12:15:00    175.683         72.364
7 2016-01-07 12:30:00    180.513         78.072
8 2016-01-07 12:45:00    174.582         73.129
9 2016-01-07 13:00:00    168.523         70.999

In [5]:
pv_formatted = PVGeneratorFormatter("PVGenerator/BioEngineeringPV.csv")
df_pv = pv_formatted.run(save=False) 
df_pv.head(10)

             DateTime  RealPower
0 2015-01-21 08:45:00      5.273
1 2015-01-21 09:00:00      5.712
2 2015-01-21 09:15:00      7.303
3 2015-01-21 09:30:00      8.729
4 2015-01-21 09:45:00     13.882
5 2015-01-21 10:00:00     16.288
6 2015-01-21 10:15:00     16.729
7 2015-01-21 10:30:00     18.680
8 2015-01-21 10:45:00     19.710
9 2015-01-21 11:00:00     20.445